/* GENERAL */
* {
  box-sizing: border-box;
  font-weight: bold;
}

.secondary {
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Helvetica Neue', 'Palatino', sans-serif;
  background-color: #657786;
  color: white;
}

a {
  text-decoration: none;
}

#blue {
  color: #1da1f2;
}

/* GRID */
.gridContainer {
  display: grid;
  grid-template-areas:
    'title title title title title title'
    'logo logo form form form form'
    'logo logo sentiment sentiment sentiment sentiment'
    'instructions instructions sentiment sentiment sentiment sentiment';
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

#title {
  grid-area: title;
  font-size: 40px;
}

#twitterLogo {
  grid-area: logo;
  max-width: 100%;
  max-height: 100%;
}

#instructions {
  grid-area: instructions;
}

#formCard {
  grid-area: form;
}

.sentimentCard {
  grid-area: sentiment;
}

/* CARD */

.card {
  /* Add shadows to create the "card" effect */
  padding: 20px 30px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.2s;
  border-radius: 5px;
  justify-content: space-between;
  font-size: 25px;
  background-color: #aab8c2;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  margin: 1em;
}

/* .center {
  place-self: center;
  max-width: 75%;
} */

/* FORM */

label {
  display: block;
}

input {
  border-radius: 25px;
  border: #aab8c2;
  padding: 12px 20px;
  margin: 15px 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: #e1e8ed;
}

/* Remove Chrome's default focus outline */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Replace with styled default focus outline */
input:focus {
  background-color: white;
  border: 2px solid #1da1f2;
}

form div {
  margin: 1em;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #1da1f2;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: #0e9af1;
}

/* TWITTER DATA */

.picContainer {
  float: left;
}

#twitterProfPic {
  border-radius: 50%;
  max-width: 25%;
  padding: 5px;
}

#twitterProfBanner {
  width: 75%;
  padding: 5px;
  border-radius: 15px;
}

#screenName {
  color: #e1e8ed;
  font-size: 18px;
}

#location {
  color: #e1e8ed;
  font-size: 18px;
}

img#location {
  max-width: 17px;
  color: #e1e8ed;
}

.inlineBlock {
  display: inline-block;
  padding: 3px;
  font-weight: normal;
}

.smallText {
  font-size: 0.78em;
}

.medText {
  font-size: 23px;
}

#sentimentCardAnalysis {
  margin-top: 20px;
}

#sentimentCardBasicInfo {
  margin-top: 10px;
}

.storyset {
  place-self: center;
  max-width: 50%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  /* .gridContainer {
    display: grid;
    grid-template-areas:
      'title'
      'logo'
      'instructions'
      'form'
      'sentiment';
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  #twitterLogo {
    grid-area: logo;
    max-width: 25%;
  } */
  .gridContainer {
    display: grid;
    grid-template-areas:
      'logo title'
      'instructions instructions'
      'form form'
      'sentiment sentiment';
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  #twitterLogo {
    grid-area: logo;
    max-width: 25%;
  }
}
