body {
  font-family: 'Helvetica Neue', 'Palatino', sans-serif;
  background-color: #657786;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

input {
  /* background-image: url('./images/searchIcon.png');
  background-size: 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat; */
  /* padding-left: 100px; */
  border-radius: 25px;
  border: #aab8c2;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus {
  background-color: #e1e8ed;
  border: 2px solid #1da1f2;
}

.card {
  /* Add shadows to create the "card" effect */
  padding: 20px 30px;
  height: auto;
  display: flex;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.2s;
  border-radius: 5px;
  justify-content: space-between;
  font-size: 25px;
  background-color: #aab8c2;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #aab8c2;
  align-items: flex-end;
  margin: 1em;
  color: white;
  font-size: 17px;
  border-radius: 5px 5px 0 0;
}

nav a {
  display: inline-block;
  color: white;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #1da1f2;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
